<div class="page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="user.email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          [(ngModel)]="user.password"
          type="password"
        />
      </mat-form-field>
      <mat-checkbox color="primary" [(ngModel)]="rememberMe"
        >Remember Me</mat-checkbox
      >
      <button mat-raised-button color="primary" (click)="Login()">Login</button>
    </mat-card-content>
  </mat-card>
</div>
